body {
  color: #000000;
  background-color: #f5f5f5;
  /*font-family: "Catrinity", sans-serif;*/
  font-family: "Inclusive Sans", sans-serif;
}

/*h1 {
  background-image: url('https://cdn.discordapp.com/attachments/1198236773831163934/1206120886793666581/wat.png?ex=65dada9c&is=65c8659c&hm=79715f604772ad7e8e50aa04ccc2daf7fb8c77040e6b7f3e098de9df8197b314&');
}*/

nav {
  border:ridge #f5f5f5;
  background-color:#f5f5f5;
  text-align: center;
  margin: auto;
  padding:0.5em;
}

hr {
  border:ridge #f5f5f5;
}

.navbutton {
  border: outset #dfdfdf;
  background-color:#dfdfdf;
  text-align: center;
  padding: 0.125em;
}

.navbuttoncurrent {
  border: inset #bfbfbf;
  background-color: #bfbfbf;
  text-align: center;
  padding: 0.125em;
}

.navbutton:hover {
  border: inset #bfbfbf;
  background-color: #bfbfbf;
}

.bordered_text {
  width: 85%;
  border:ridge #f3f4f5;
  background-color:#f3f4f5;
  margin: auto;
  padding: 0.625em;
  color: black;
}

.about_leftside_text {
/*  border:ridge;*/
  width: 54%;
  margin: auto;
  margin-left: 4%;
}

.about_pic_description {
  width: 13%;
  margin-top: 30em;
  margin-right: -23.125em;
  float:right;
  padding: 0em;
}

.about_leftside_text h2 {text-align:center;}

/*.about_leftside_text h3 {margin-left: 18px;}*/

.wikipedia_joke {
  padding-left: 1.6em;
}

.devlog_header{
  font-size: 1.17em;
}

.devlog {
  border: double;
  height: 25em;
  width: 50em;
  overflow: scroll;
  padding-right: 1.25em;
}

.footer {
  margin: auto;
}

summary {cursor:pointer;}

link styling
a:link{color: lightskyblue;}
a:visited{color: #7477f7;}
a:hover{font-weight: bold;}
a:active{font-weight: bold;}

a:link.navbutton{color: black;}
a:visited.navbutton{color: black;}
a:link.navbuttoncurrent{color: black;}
a:visited.navbuttoncurrent{color: black;}

a:link.about_leftside_text{color: #5c93c5; font-weight: bold;}
a:visited.about_leftside_text{color: #7477f7; font-weight: bold;}
