body {
  color: #FFFFFF;
  background-color: #000D0D;
  /*font-family: "Catrinity", sans-serif;*/
  background-image: url('../assets/images/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  font-family: "Inclusive Sans", sans-serif;
}

nav {
  border:ridge #67D9EF;
  background-color:#5DD1EB;
  text-align: center;
  margin: auto;
  padding:0.35em;
}

.title {
  /*background-image: url('../assets/images/woodzone.png');*/
  text-align: center;
}

hr {
  border:ridge #000000;
}

.navbutton {
  border: outset #9DD53F;
  background-color:#9DD53F;
  text-align: center;
  color: #000000;
  padding: 0.125em;
}

.navbuttoncurrent {
  border: inset #78BF4A;
  background-color: #78BF4A;
  text-align: center;
  color: #000000;
  padding: 0.125em;
}

.navbutton:hover {
  border: inset #78BF4A;
  background-color: #78BF4A;
}

.bordered_text {
  width: 85%;
  border:ridge #f3f4f5;
  background-color:#f3f4f5;
  margin: auto;
  padding: 0.625em;
  color: black;
}

.footer {
  margin: auto;
  text-align: center;
}

summary {cursor:pointer;}

link styling
:link{
  color: dodgerblue;
  text-decoration: none;
}
a:link{
  color: dodgerblue;
  text-decoration: none;
}
a:visited{
  color: dodgerblue;
  text-decoration: none;
}
a:hover{
  font-weight: bold;
  text-decoration: none;
}
a:active{
  font-weight: bold;
  text-decoration: none;
}

a:link.navbutton{
  color: black;
}
a:visited.navbutton{
  color: black;
}
a:link.navbuttoncurrent{
  color: black;
}
a:visited.navbuttoncurrent{
  color: black;
}

/*
a:link{color: lightskyblue;}
a:visited{color: #7477f7;}
a:hover{font-weight: bold;}
a:active{font-weight: bold;}

a:link.navbutton{color: black;}
a:visited.navbutton{color: black;}
a:link.navbuttoncurrent{color: black;}
a:visited.navbuttoncurrent{color: black;}

a:link.about_leftside_text{color: #5c93c5; font-weight: bold;}
a:visited.about_leftside_text{color: #7477f7; font-weight: bold;}
*/
